<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.bdface.mapper.CameraMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="cameraResultMap" type="org.springblade.modules.bdface.entity.Camera">
        <id column="id" property="id"/>
        <result column="ip" property="ip"/>
        <result column="user_name" property="userName"/>
        <result column="pass" property="pass"/>
        <result column="rtsp" property="rtsp"/>
        <result column="credentials_id" property="credentialsId"/>
    </resultMap>


    <select id="selectCameraPage" resultMap="cameraResultMap">
        select * from extend_iot_camera where is_deleted = 0
    </select>

</mapper>
