<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.bdface.mapper.MessageAlertMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="messageAlertResultMap" type="org.springblade.modules.bdface.entity.MessageAlert">
        <id column="id" property="id"/>
        <result column="ip" property="ip"/>
        <result column="url" property="url"/>
        <result column="api_key" property="apiKey"/>
    </resultMap>


    <select id="selectMessageAlertPage" resultMap="messageAlertResultMap">
        select * from extend_iot_message_alert where is_deleted = 0
    </select>

</mapper>
